body {
  background: #86cf6d;
}

header {
  max-width: 970px;
}

.page {
    margin: auto;
    max-width: 970px;
    width: 100%;
    background: #fffccc;
}

.mutant {
  margin: auto;
  display: flex;
  border: 2px #874b0f solid;
  max-width: 970px;
  align-items: center;
  background: #fffccc;
}

.nickname {
  margin: 0;
}

.mutant-image {
  display: flex;
  margin: 5px;
  border: 2px black solid;
  padding: 10px;
  min-width: 100px;
  max-width: 200px;
  flex-direction: column;
  text-align: center;
  background: #fffccc;
}

.title-status {
  margin: 8px, auto;
  text-align: center;
}

.mutant-status {
  font: italic small-caps bold 16px/2 cursive;
  margin: auto;
  border: 2px #874b0f solid;
  max-width: 970px;
  align-items: center;
  background: #fffccc;
}

.mutant-sun {
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 0;
  justify-content: space-around;
}

.menu {
  display: flex;
  flex-direction: column;
}
