<!doctype html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/class.css'%}" type="text/css">
        <meta charset="utf-8">
        <meta name="description" content="Сайт мутантов для назначения солнышек">
        <title>{% block title %}Мутоблок{% endblock %}</title>
        <script src="{% static 'img/bakler.ico' %}"></script>
        <link rel="icon" href="{% static 'img/bakler.ico' %}" type="image">

    </head>
<body>
    <div class='page'>
        <header>
            <a href={% url "main" %}>
            <img src="{% static 'img/header.png' %}">
            <a>
            {% comment %} <div class="menu">
                {% if request.user.is_authenticated%}
                <a href="{% url 'suns:logout' %}">Выйти</a>
                {% else %}
                <a href="{% url 'suns:signup' %}">Регистрация</a>
                <a href="{% url 'suns:login' %}">Войти</a>
                {% endif %}
            </div> {% endcomment %}
        </header>
    </div>
</body>
</html>
