{% include 'base.html' %}


{% block content %}
<div class='mutant-status'> <h4 class="title-status">Актив</h4></div>
  {% for mutant in activ %}
     {% include 'mutant.html' %}
  {% endfor %}
  <div class='mutant-status'> <h4 class="title-status">Стажеры</h4></div>
  {% for mutant in intern %}
     {% include 'mutant.html' %}
  {% endfor %}
  <div class='mutant-status'> <h4 class="title-status">Мутоолдовцы</h4></div>
  {% for mutant in old %}
     {% include 'mutant.html' %}
  {% endfor %}
  <div class='mutant-status'> <h4 class="title-status">Друзья команды</h4></div>
  {% for mutant in friend %}
     {% include 'mutant.html' %}
  {% endfor %}
{% endblock %}
