{% load thumbnail %}
{% load static %}
<div class="mutant">
    <div class="mutant-image">
        {% thumbnail mutant.avatars "64x64" crop="center" as im %}
        <img src="{{ im.url }}" class="mutant-avatars">
        {% endthumbnail %}
        <p class="mutant-nickname">{{ mutant.nickname }}</p>
        {% comment %} <a href="{% url 'suns:profile' mutant.username %}" class="mutant-nickname">{{ mutant.nickname }}</a> {% endcomment %}
    </div>
    <div class="mutant-sun">
        {% for sun in mutant.suns.all %}
            {% thumbnail sun.image "64x64" crop="center" as im %}
                <img src="{{ im.url }}" class="sun-image" title="{{ sun.description }}">
            {% endthumbnail %}
        {% endfor %}
    </div>

</div>
