{% include 'base.html' %}
{% block content %}

<h2 class="auth-title">Регистрация</h2>

<form method="post">
  {% csrf_token %}
  <div class="main">
  {% for field in form %}
  <div class="form-title">
    <label for="{{ field.id_for_label }}">
      {{ field.label }}
      {% if field.field.required %}
        <span class="required text-danger">*</span>
      {% endif %}
    </label>
  </div>
    {{ field }}
    {% comment %} {% if field.help_text %}
      <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %} {% endcomment %}
  {% endfor %}
  <div class="mutant-button">
  <button type="submit">Драться</button>
  <button type="submit">Думать</button>
  </div>
    </div>
</form>
{% endblock %}